.movieCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.cardBody{
  display: grid;
  place-content: center;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%;
  display: grid;
  place-content: center;
}
.FullCard {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Poster {
  border-radius: 10%;
  width: 100%;
  max-width: 20rem;
  max-height: 30rem;
}
.badgesdiv {
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.SingleCard {
  width: 14rem;
}
@media screen and (max-width: 600px) {
  .SingleCard {
    max-width: 22rem;
    width: 100%;
  }
  .Poster {
    border-radius: 10%;
    width: 100%;
    max-width: 15rem;
  }
  .movieCard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .FullCard {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .badgesdiv {
    flex-direction: column;
    align-items: flex-start;
  }
  .data {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
